@font-face {
  src: url("./font/national-web-book.woff");
  font-family: "national-web-book";
}
@font-face {
  src: url("./font/dm-serif-text.woff2");
  font-family: "DM Serif Text";
}

.navbar {
  box-shadow: 0 0.5rem 2rem -1px rgba(232,231,231, 0.5), inset 0 -1px 0 var(--light);
}
.nav-pills>li>a:hover {
  color: var(--dark);
  background-color: rgba(232,231,231, 0.5);
}
.nav-pills>li>a {
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.25rem 1rem;
}
ul.nav.navbar-nav>li>a.active {
  border-bottom: 3px solid var(--warning);
}
ul.nav.navbar-nav>li>a:hover{
  color: var(--dark);
  border-bottom: 3px solid var(--gray);
  background-color: rgba(232,231,231, 0.5);
}
.navbar:not(.navbar-expand):not(.navbar-expand-sm):not(.navbar-expand-md):not(.navbar-expand-lg):not(.navbar-expand-xl)>.container-fluid {
  padding: 0 1rem 0 1rem;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: unset;
}
.shiny-input-checkboxgroup label ~ .shiny-options-group,
.shiny-input-radiogroup label ~ .shiny-options-group {
  margin-top: unset;
}
.shiny-input-checkboxgroup .checkbox {
  padding: .25rem 2.4rem;
  border-top: 1px solid var(--light);
}
.shiny-input-checkboxgroup .checkbox label>input {
  margin-top: .25rem;
}

.irs--shiny .irs-line, .irs--shiny .irs-bar {
  height: 2px;
  background: var(--dark);
  border-top: unset;
  border-bottom: unset;
}
.irs--shiny .irs-handle {
  top: 16px;
  width: 6px;
  height: 21px;
  border: 2px solid var(--red);
  background: var(--red);
  border-radius: 2px;
}
.irs--shiny .irs-handle:active, .irs--shiny .irs-handle:hover {
  border-color: var(--orange);
  background: var(--orange);
}
.irs--shiny .irs-single {
  top: -5px;
  padding: 0;
  font-size: 15px;
  color: var(--dark);
  background-color: unset;
}
.irs--shiny .irs-grid-text {
  font-size: 10px;
  bottom: 8px;
}

.small-box {
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.small-box>.inner {
  padding: 10px;
}
.small-box .icon {
  color: rgba(51,51,51, 0.15);
  z-index: 0;
}
.small-box>.small-box-footer {
  background-color: rgba(51,51,51, 0.1);
  color: rgba(255,255,255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.small-box .icon>i.fa, .small-box .icon>i.fas, .small-box .icon>i.far,
.small-box .icon>i.fab, .small-box .icon>i.fal, .small-box .icon>i.fad,
.small-box .icon>i.ion {
  font-size: 70px;
  top: 20px;
}
.small-box .icon>i {
  position: absolute;
  font-size: 90px;
  top: 15px;
  right: 15px;
  transition: transform .3s linear;
}
.accordion>.card>.card-header, .accordion>.well>.card-header {
  margin-bottom: unset;
  border: none;
}
.accordion .card-header a:hover {
  text-decoration: none;
}

.waved {
  background: linear-gradient(180deg,
  rgba(232,231,231, 1) 0%, rgba(242,241,241, 1) 45%, rgba(255,255,255, 1) 100%);
}
.waved2 {
  background: linear-gradient(180deg,
  rgba(255,255,255, .6) 0%, rgba(255,255,255, 1) 50%, rgba(255,255,255, .5) 100%);
}
.waved3 {
  background: linear-gradient(180deg,
  rgba(255,255,255, .8) 0%, rgba(255,255,255, 0) 100%);
}
