@font-face {
  src: url("./font/national-web-regular.woff");
  font-family: "national-web-regular";
}
@font-face {
  src: url("./font/dm-serif-text.woff2");
  font-family: "DM Serif Text";
}
ul.nav.navbar-nav>li>a {
  border-bottom: 2px solid transparent;
}
ul.nav.navbar-nav>li>a.active {
  border-bottom: 2px solid var(--warning);
}
ul.nav.navbar-nav>li>a:hover {
  background-color: rgba(255, 255, 255, .2);
}
.navbar-nav .nav-link, .navbar-nav .nav-tabs>li>a,
.navbar-nav .nav-pills>li>a, ul.nav.navbar-nav>li>a {
  padding-left: 1rem;
}

.small-box {
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.small-box>.inner {
  padding: 10px;
}
.small-box .icon {
  color: rgba(17,17,17, .15);
  z-index: 0;
}
.small-box>.small-box-footer {
  background-color: rgba(17,17,17, .1);
  color: rgba(255,255,255, .8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.small-box .icon>i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: transform .3s linear;
}
.small-box .icon>i.fa, .small-box .icon>i.fas, .small-box .icon>i.far,
.small-box .icon>i.fab, .small-box .icon>i.fal, .small-box .icon>i.fad,
.small-box .icon>i.ion {
  font-size: 70px;
  top: 20px;
}

