@font-face {
  src: url("./font/national-web-regular.woff");
  font-family: "national-web-regular";
}
@font-face {
  src: url("./font/dm-serif-text.woff2");
  font-family: "DM Serif Text";
}
ul.nav.navbar-nav>li>a {
  border-bottom: 2px solid transparent;
}
ul.nav.navbar-nav>li>a.active {
  border-bottom: 2px solid var(--warning);
}
ul.nav.navbar-nav>li>a:hover {
  color: var(--dark);
  border-bottom: 2px solid rgba(194, 194, 194, 0.6);
  background-color: rgba(232,231,231,.3);
}
.navbar:not(.navbar-expand):not(.navbar-expand-sm):not(.navbar-expand-md):not(.navbar-expand-lg):not(.navbar-expand-xl)>.container-fluid {
  padding: 0.5rem 1rem 0 1rem;
}
.nav-pills>li>a {
  margin: 0.5rem 0 0 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 87.5%;
}
.bootstrap-select .dropdown-menu li a span.text {
  display: unset;
}
.shiny-input-checkboxgroup .checkbox {
  padding: .25rem 2rem;
  border-top: 1px solid rgba(194, 194, 194, 0.6);
}
.shiny-input-checkboxgroup .checkbox label>input {
  margin-top: .25rem;
}

.irs--shiny .irs-line, .irs--shiny .irs-bar {
  height: 2px;
  background: var(--dark);
  border-top: unset;
  border-bottom: unset;
}
.irs--shiny .irs-handle {
  top: 16px;
  width: 6px;
  height: 21px;
  border: 2px solid var(--red);
  background: var(--red);
  border-radius: 2px;
}
.irs--shiny .irs-handle:active, .irs--shiny .irs-handle:hover {
  border-color: var(--orange);
  background: var(--orange);
}
.irs--shiny .irs-single {
  top: -5px;
  padding: 0;
  font-size: .9rem;
  color: var(--dark);
  background-color: unset;
}

.small-box {
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.small-box>.inner {
  padding: 10px;
}
.small-box .icon {
  color: rgba(17,17,17, .15);
  z-index: 0;
}
.small-box>.small-box-footer {
  background-color: rgba(17,17,17, .1);
  color: rgba(255,255,255, .8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.small-box .icon>i.fa, .small-box .icon>i.fas, .small-box .icon>i.far,
.small-box .icon>i.fab, .small-box .icon>i.fal, .small-box .icon>i.fad,
.small-box .icon>i.ion {
  font-size: 70px;
  top: 20px;
}
.small-box .icon>i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: transform .3s linear;
}

.waved {
  background: linear-gradient(180deg, rgba(232,231,231,1) 0%, rgba(242,241,241,1) 45%, rgba(255,255,255,1) 100%);
}
.waved2 {
  background: linear-gradient(180deg, rgba(232,231,231,1) 0%, rgba(242,241,241,1) 100%);
}
.waved3 {
  background-color: var(--white);
  background: linear-gradient(180deg, rgba(255,255,255,1) 6%, rgba(242,241,241,1) 100%);
}
